<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="\css\style.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <h2>{{heading}}</h2>
        <div class="Menu">
            <a href="/">
                <img src="/images/Logo.png" alt="abc" width="130" height="100">
            </a>

            <div class="logo"> Logo </div>
            <nav>
                <ul class="menu">
                    <li><a href="/"> HomePage </a></li>
                    <li><a href="/products">Our Products</a></li>
                    <li><a href="/registration">Sign up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        {{{body}}}
    </main>


    <footer>
        <h2>{{footer}}</h2>

    </footer>
</body>


</html>