<section>
    <div class="category">
        <h1> Category </h1> <br>
        <div style="width:image width px; font-size:80%;text-align:center;"><img src="/images/categories/clothing.jpg"
                alt="clothing" style="padding-bottom:0.5em;"><br><a href="">Clothing</a></div>
        <div style="width:image width px; font-size:80%;text-align:center;"> <img src="/images/categories/cosmetic.jpg"
                alt="cosmetic" style="padding-bottom:0.5em;"><br><a href="">Cosmetic</a> </div>
        <div style="width:image width px; font-size:80%;text-align:center;"> <img src="/images/categories/interior.jpg"
                alt="initerior" width="250px" style="padding-bottom:0.5em;"><br><a href="">Interior</a></div>
        <div style="width:image width px; font-size:80%;text-align:center;"> <img src="/images/categories/toys.jpg"
                alt="toys" style="padding-bottom:0.5em;"><br><a href="">Toys</a></div>
        <div style="width:image width px; font-size:80%;text-align:center;"><img src="/images/categories/watches.jpg"
                alt="watches" style="padding-bottom:0.5em;"><br><a href="">Watches</a></div>
        <div>
            <br>
            <div class="bestseller">
                <h1>Best Seller</h1><br>
                <div style="width:image width px; font-size:80%;text-align:center;">
                    <img
                        src="/images/bestseller/hublot.jpg" alt="hublot" style="padding-bottom:0.5em;"><br> Hublot</div>
                <div style="width:image width px; font-size:80%;text-align:center;">
                    <img src=" /images/bestseller/hublot2.jpg" alt="hublot2" style="padding-bottom:0.5em;"><br>Hublot 
                </div>

                <div style="width:image width px; font-size:80%;text-align:center;">
                    <img src=" /images/bestseller/rolex.jpg" alt="rolex" style="padding-bottom:0.5em;"><br>Rolex 
                </div>

                <div style="width:image width px; font-size:80%;text-align:center;"><img
                        src="/images/bestseller/rolex1.jpg" alt="rolex1" style="padding-bottom:0.5em;"><br>Rolex </div>

                <div style="width:image width px; font-size:80%;text-align:center;"><img
                        src="/images/bestseller/rolex2.jpg" alt="rolex2" style="padding-bottom:0.5em;"><br>Rolex </div>

                <div style="width:image width px; font-size:80%;text-align:center;"><img
                        src="/images/bestseller/rolex3.jpg" alt="rolex3" style="padding-bottom:0.5em;"><br> Rolex</div>

            </div>



            <footer class="footer">
                <p>Contact us:</p>
                <ul>
                    <li><a href="instagram.com">Instagram</a></li>
                    <li><a href="facebook.com">FaceBook</a></li>
                    <li><a href="github.com">Github</a></li>
                    <li> Hotline: 999-999-9999</li>
                </ul>

            </footer>
</section>